.form-buttons {
	margin-top: 15px;
	padding: 10px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.form-buttons > button {
	background: white;
	padding: 15px;
	border: none;
	border-radius: 50%;
	color: rgb(96, 118, 165);
	font-weight: bold;
	font-size: 1.2rem;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.575);
	cursor: pointer;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-buttons > button:hover {
	background-color: rgb(96, 118, 165);
	color: white;
}
