.formulario-contenedor {
	width: 270px;
	user-select: none;
	box-sizing: border-box;
	overflow: hidden;
	padding: 25px 20px;
	background: rgba(116, 140, 190, 0.192);
	border-radius: 5px;
}
.formulario-contenedor-datos {
	overflow: hidden;
	box-sizing: border-box;
	border-radius: 5px;
	background: white;
	padding: 5px 0 0;
}
.form-textarea {
	font-family: sans-serif;
	padding: 15px;
	width: 87%;
	border: none;
	background: rgb(245 245 245 / 50%);
	resize: none;
	line-height: 1.5rem;
	font-size: 1rem;
	margin-bottom: 3px;
}
.form-prioridad {
	color: black;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.9rem;
}
.form-textarea:focus {
	outline: none;
}
.form-prior-normal,
.form-prior-urgente {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex: 1;
	border: 1px solid rgba(96, 118, 165, 0.3);
	padding: 10px;
	cursor: pointer;
	background: none;
	font-size: 0.9rem;
	font-weight: bold;
}
.form-prior-urgente:hover,
.form-prior-normal:hover {
	background: rgb(96, 118, 165);
	color: white;
}

.form-buttons {
	margin-top: 15px;
	padding: 10px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.form-buttons > button {
	background: white;
	padding: 15px;
	border: none;
	border-radius: 50%;
	color: rgb(96, 118, 165);
	font-weight: bold;
	font-size: 1.2rem;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.575);
	cursor: pointer;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-buttons > button:hover {
	background-color: rgb(96, 118, 165);
	color: white;
}
