.formulario-contenedor {
	width: 270px;
	user-select: none;
	box-sizing: border-box;
	overflow: hidden;
	padding: 25px 20px;
	background: rgba(116, 140, 190, 0.192);
	border-radius: 5px;
}
.formulario-contenedor-datos {
	overflow: hidden;
	box-sizing: border-box;
	border-radius: 5px;
	background: white;
	padding: 5px 0 0;
}
