.horario-seleccion-minutos {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 15px;
	width: 240px;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
}
.minutos {
	user-select: none;
	width: 20px;
}
.minuto0 {
	opacity: 1;
	font-size: 1.1rem;
}
.minuto1 {
	opacity: 0.35;
	font-size: 1rem;
}
.minuto2 {
	font-size: 0.9rem;
	opacity: 0.2;
}
.minuto3 {
	opacity: 0.05;
	font-size: 0.8rem;
}
.input-range {
	margin-top: 5px;
	width: 180px;
	height: 20px;
	opacity: 0.3;
}
